body {
    display: grid;
    /*Needed because fixed position of header is taken out of doc flow consideration*/
    margin-top: var(--header-height);
}

header {
    border: 1px solid blue;
}

main {
    border: 1px solid red;
}

#summaryCards {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    justify-content: space-around;
    margin: 5px;
}

#summaryCards > div {
    background-color: var(--secondary-color);
    border: 1px solid red;
    height: 150px;
    flex: 1;
    margin: 10px 5px; 
    min-width: 150px;
    max-width: 300px;
    border-radius: 20px;
}

#avgIncCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15% 35% 25% 25%;
    align-content: center;
}

#avgIncCard > p {
    text-align: center;
}

p.fullWidth {
    grid-column: span 2;
}

#estimatedIncomeTableContainer {
    height: 300px;
    overflow: auto;   
    width: auto; 
    margin: 10px 20px;

}

#estimatedIncomeTableContainer::-webkit-scrollbar {
    width: 12px;
}

#estimatedIncomeTableContainer::-webkit-scrollbar-track {
    background: neonpink;
}

#estimatedIncomeTableContainer::-webkit-scrollbar-thumb {
    background: pink;
}

#estimatedIncomeTableContainer::-webkit-scrollbar-thumb:hover {
    background: red;
}

table {
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    
}

thead {
    background-color: gray;
}

th, td {
    border: 1px solid white;
    text-align: center;
}

.mainRow {
    background-color: rgb(179, 179, 179);
}

.altRow {
    background-color: lightslategray;
}

