
* {
  border: 1px solid red;
}

body {
  background-color: var(--var-main-color, ivory);
  display: flex;
  justify-content: center;
  width: 100%;
  margin: var(--var-header-height, 30px) 0 0 0;
  border: none;
}

/*May Need To Move This To Header CSS Once Hooked Back Up*/
header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--var-header-height, 30px);
  width: 100%;
  background-color: var(--var-header-color, slategrey);
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  min-width: 300px;
  margin: 20px;
  width: 100%;
  border: none;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  margin: 15px 0;
}

.sectionContainer > div {
  flex: 1fr;
  width: 100%;
}

#summary {
  height: 100px;
}

#balance, #income {
  height: 500px;
}

.summaryCard {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {

  header {
    border: 1px solid blue;
  }

  .sectionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 0;
  }

  .sectionContainer > div {
    flex: 1fr;
    height: 100%;
  }

  #summary {
    height: 400px;
  }

  #balance {
    height: 1000px;
  }

  #income {
    height: 500px;
  }

}