/* Default styles */
:root {
    --main-color: #A0A4B8;
    --secondary-color: #99CEFF;
    --accent-color: #EDE7B1;
    --contrast-color: #F6BC79;
    --alternate-color: #78A57B;
    --main-font-color: #000000;

    --header-height: 30px;
  }